body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://img.freepik.com/fotos-gratis/3d-interior-de-quarto-grunge-com-holofotes-e-fundo-de-atmosfera-esfumacada_1048-11333.jpg?w=740&t=st=1686025286~exp=1686025886~hmac=ac2569786c3c2b371adc7280633e99687038e5c2246c805e4e39cf6893e6efdd');
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  font-weight: bold;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.red-text {
  color: red;
  margin-top: 0px;
  text-align: center;
  font-size: 200%;
}

.word-info,
.guesses-info,
.lives-info{
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.status-info {
  color: red;
  margin-top: 0px;
  text-align: center;
  font-size: 200%;
  
}

.guesses-info,
{
  font-size: 24px;
  margin-top: 20px;
  color: white;
}